---
- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install basic packages
  apt:
    name: "{{ item }}"
    state: present
  loop:
    - curl
    - wget
    - git
    - python3-pip
    - python3-dev
    - libpq-dev
    - vim
    - acl
    - python3-venv
    - logrotate
    - postgresql-client

- name: Disable password authentication in SSH
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PasswordAuthentication'
    line: 'PasswordAuthentication no'
    backup: yes
  notify: restart ssh

- name: Disable root login in SSH
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PermitRootLogin'
    line: 'PermitRootLogin no'
    backup: yes
  notify: restart ssh

- name: Ensure PubkeyAuthentication is enabled
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^#?PubkeyAuthentication'
    line: 'PubkeyAuthentication yes'
    backup: yes
  notify: restart ssh


- name: Set up firewall for Application_servers
  ufw:
    rule: allow
    port: "{{ item.port }}"
    from_ip: "{{ item.from_ip | default(omit) }}"
  loop:
    - { port: 22 }
    - { port: 5000, from_ip: "{{ nginx_ip }}" }
    - { port: 5432, from_ip: "{{ nginx_ip }}" }
  when: inventory_hostname in groups['Application_servers']

- name: Set up firewall for Web_servers
  ufw:
    rule: allow
    port: "{{ item }}"
  loop:
    - 22
    - 80
    - 443
  when: inventory_hostname in groups['Web_servers']


- name: Enable and start ufw
  ufw:
    state: enabled
