- name: Copy healthcheck.sh script on Web_servers
  template:
    src: healthcheck.sh.j2
    dest: "{{ home_dir }}/healthcheck.sh"
    owner: devops
    group: devops
    mode: '0755'
  when: "'Web_servers' in group_names"
  become: yes

- name: Ensure cron is installed
  apt:
    name: cron
    state: present
  become: yes

- name: Install healthcheck cron job
  cron:
    name: "Healthcheck script"
    minute: "*/10"
    job: "{{ home_dir }}/healthcheck.sh >/dev/null 2>&1"
    user: devops
  when: "'Web_servers' in group_names"
  become: yes

- name: Deploy logrotate config for application
  copy:
    content: |
      {{ logrotate_app_log_path }} {
          daily
          missingok
          rotate 14
          compress
          delaycompress
          notifempty
          create 644 devops devops
          postrotate
              systemctl kill --signal=SIGUSR1 task1 > /dev/null 2>&1 || true
          endscript
      }
    dest: "{{  logrotate_app_config_dest }}"
    owner: root
    group: root
    mode: '0644'
  when: "'Application_servers' in group_names"
  become: yes

- name: Deploy logrotate config for scripts
  copy:
    content: |
      {{ logrotate_scripts_log_path }} {
          weekly
          missingok
          rotate 14
          compress
          delaycompress
          notifempty
          create 644 devops devops
      }
    dest: "{{ logrotate_scripts_config_dest }}"
    owner: root
    group: root
    mode: '0644'
  become: yes

- name: Deploy logrotate config for DB
  copy:
    content: |
      {{ logrotate_db_log_path }} {
          daily
          rotate 7
          compress
          delaycompress
          missingok
          notifempty
      }
    dest: "{{ logrotate_db_config_dest }}"
    owner: root
    group: root
    mode: '0644'
  become: yes

- name: Copy test-deployment script to Application_servers
  template:
    src: test-deployment.sh.j2
    dest: "{{ home_dir }}/test-deployment.sh"
    owner: devops
    group: devops
    mode: '0755'
  when: "'Application_servers' in group_names"
  become: yes
