---
# names and port
app_name: task1
app_user: devops
app_port: 5000
# directory
app_dir: "/home/{{ app_user }}/{{ app_name }}"
home_dir: "/home/{{ app_user }}"
log_dir: "/var/log/{{ app_name }}"
script_log_dir: "{{ log_dir }}/scripts/"
app_log_file: "{{ log_dir }}/app.log"
# Database
db_name: "task1"
db_user: "devops"
# Logrotate all
logrotate_scripts_log_path: "/var/logs/*.log"
logrotate_scripts_config_dest: "/etc/logrotate.d/task1-scripts"