[Unit]
Description=Flask Application
After=network.target

[Service]
User=devops
WorkingDirectory={{ app_dir }}
Environment="PATH={{ venv_dir }}/bin"
ExecStart={{ venv_dir }}/bin/python {{ app_dir }}/main.py
Restart=on-failure
RestartSec=5s
StandardOutput=append:/var/log/task1/app.log
StandardError=append:/var/log/task1/app.log

[Install]
WantedBy=multi-user.target
