---
- name: Apply common role to all servers
  hosts: all
  become: yes
  roles:
    - common

- name: Deploy PostgreSQL on VM1
  hosts: vm1
  become: yes
  roles:
    - database

- name: Deploy application on VM1
  hosts: vm1
  become: yes
  roles:
    - application

- name: webserver conf
  hosts: vm2
  become: yes
  roles:
    - webserver

- name: Deploy scripts on VM1
  hosts: vm1
  become: yes
  roles:
    - scripts


- name: Deploy monitoring
  hosts: all
  become: yes
  roles:
    - monitoring
