---
- name: Apply common role to all servers
  hosts: all
  become: yes
  roles:
    - common

- name: Deploy PostgreSQL on Application_servers
  hosts: Application_servers
  become: yes
  roles:
    - database

- name: Deploy application on Application_servers
  hosts: Application_servers
  become: yes
  roles:
    - application

- name: Web-server conf
  hosts: Web_servers
  become: yes
  roles:
    - webserver

- name: Deploy scripts on Application_servers
  hosts: Application_servers
  become: yes
  roles:
    - scripts


- name: Deploy monitoring
  hosts: all
  become: yes
  roles:
    - monitoring
